

body{

    background:rgb(191, 191, 214);
 }

 h1{
  font-size: 14px;
  color: #000;
  
 }

 img{

width: 400px;
 }

#thirdDiv{
width: 600px;
height: 500px;
background:yellow;
padding:50px;
border: rgb(97, 2, 248)  solid;


}
 

#spanId{

   font-size: 18px;
   margin: 50px;
}
